<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
</head>
<body>
    <h1>STAR WARS PLANETS</h1>
    {{#each planets}}
    <ul>
        <li>{{ this.name }}</li>
    </ul>
    {{/each}}
</body>
</html>